{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about-section" style=" padding: 30px; text-align: center; background-color: #70c3cb; color: white;margin-bottom: 2%">
      <h1>Complains </h1>
</div>
{% if complain != "" %}

    {% for c in complain %}
        <div class="card mb-3" style="border: 6px solid #100367">
        {% if c.image.url != null %}
            <img src="{{ c.image.url }}" class="card-img-top" alt="complain-img"  height="400px">
        {% else %}
            <p class="card-text"></p>
        {% endif%}

        <div class="card-body">
        <h5 class="card-title" style="color: darkred">{{ c.user }}</h5>
        <p class="card-text" style="color:#555;"> {{ c.description }}</p>
        <p class="card-text"><small class="text-muted">{{ c.type }}</small></p>
        <p class="card-text"><small ><span style="color: green">UpVote:</span> {{ c.num_vote_up }}</small></p>
        <p class="card-text"><small ><span style="color: red">DownVote:</span>  {{ c.num_vote_down }}</small></p>
         <div>
            <a href="{{c.id}}"><button type="button" class="btn btn-outline-info">Details</button></a>
         </div>
        </div>

        </div>

    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert" style="text-align: center;background-color: #e22c46;color:#fff;margin-bottom: 22%; margin-top: 22%">
       <b>{{ verify }}</b>
    </div>
{%endif  %}

    {% endblock content %}

