{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for c in complain %}
    <div class="card mb-3">
    <img src="{{ c.image.url }}" class="card-img-top" alt="complain-img"  height="400px">
    <div class="card-body">
    <h5 class="card-title">{{ c.user }}</h5>
    <p class="card-text"> {{ c.description }}</p>
    <p class="card-text"><small class="text-muted">{{ c.type }}</small></p>
    <p class="card-text"><small class="text-muted">{{ c.status }}</small></p>
    <p class="card-text"><small class="text-muted">UpVote: {{ c.num_vote_up }}</small></p>
    <p class="card-text"><small class="text-muted">DownVote:{{ c.num_vote_down }}</small></p>
     <div>
        <a href="{{c.id}}"><button type="button" class="btn btn-outline-info">Details</button></a>
     </div>
    </div>

    </div>

{% endfor %}


    {% endblock content %}

