{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'InfoNContact/aboutcss/about.css' %}">
</head>
<body>

<div class="about-section" style="margin-bottom: 2%">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static 'image/joy.png' %}" alt="joy" style="width:100%">
      <div class="container">
        <h4>Sk. Yeasin Kabir Joy</h4>
        <p>yeasinjoy16@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'image/progga.jpg' %}" alt="joy" style="width:100%">
      <div class="container">
        <h4>Nuzhat Tabassum Progga</h4>
        <p>nuzhatprogga76@gmail.com</p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="{% static 'image/joy.png' %}" alt="joy" style="width:100%">
      <div class="container">
        <h4>Md. Nafees Imtiaz Ahsan</h4>
        <p>yeasinjoy16@gmail.com</p>
      </div>
    </div>
  </div>


<div class="column">
    <div class="card">
      <img src="{% static 'image/joy.png' %}" alt="joy" style="width:100%">
      <div class="container">
        <h4>Yasir Iqbal Mridul</h4>
        <p>yeasinjoy16@gmail.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



{% endblock content %}