{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Users Table</h1>
    <table border="1">
        <tr>
           <th>User</th>
           <th>Status</th>
           <th>Type</th>
        </tr>
    {% for s in verified_userTable%}
        <tr>
            <td>{{ s.user.username }}</td>
            <td>{{ s.status }}</td>
            <td>{{ s.type }}</td>
        </tr>
    {% endfor %}

    </table>
    <br><br><br><br><br>


    <h1>Complain Table</h1>
    <table border="1">
        <tr>
           <th>Verified User</th>
           <th>Image</th>
           <th>Status</th>
           <th>Description</th>
           <th>Type</th>
           <th>Date</th>
           <th>Time</th>
        </tr>
    {% for s in complainTable%}
        <tr>
            <td>{{ s.user }}</td>
            {% if s.image.url != null %}
            <td><img src="{{ s.image.url }}"  height="250px" width="250px" ></td>
         {% else %}
                <td>No Image</td>
         {% endif %}
            <td>{{ s.status }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.type}}</td>
            <td>{{ s.date }}</td>
            <td>{{ s.time}}</td>
        </tr>
    {% endfor %}

    </table>

    <br><br><br><br><br>

    <h1>Comment Table</h1>
    <table border="1">
        <tr>
           <th>Complain</th>
           <th>User Name</th>
           <th>Description</th>
        </tr>
    {% for s in commentTable%}
        <tr>
            <td>{{ s.complain }}</td>
            <td>{{ s.user }}</td>
            <td>{{ s.description }}</td>
        </tr>
    {% endfor %}

    </table>



    <br><br><br><br><br>

    <h1>Vote Table</h1>
    <table border="1">
        <tr>
           <th>Complain</th>
           <th>User</th>
           <th>Vote</th>
        </tr>
    {% for s in votTable %}
        <tr>
            <td>{{s.complain}}</td>
            <td>{{ s.user}}</td>
            <td>{{ s.vote }}</td>
        </tr>
    {% endfor %}


    </table>




    <br><br><br><br><br>

    <h1>Info Table</h1>
    <table border="1">
        <tr>
           <th>Email</th>
           <th>Phone no.</th>
        </tr>
    {% for s in infoTable %}
        <tr>

            <td>{{ s.email }}</td>
            <td>{{ s.phone_no }}</td>

        </tr>
    {% endfor %}

    </table>


    <br><br><br><br><br>

    <h1>FAQ Table</h1>
    <table border="1">
        <tr>
           <th>Question</th>
           <th>Answer</th>
        </tr>
    {% for s in faqTable %}
        <tr>

            <td>{{ s.question }}</td>
            <td>{{ s.answer }}</td>

        </tr>
    {% endfor %}

    </table>


    <h1>Tag Table</h1>
    <table border="1">
        <tr>

            <th>Tag Name</th>
        </tr>
    {% for t in tagTable %}
        <tr>

            <td>{{ t.tag_name }}</td>
        </tr>
    {% endfor %}

    </table>

    <h1>Complain Tag</h1>
    <table border="1">
        <tr>
            <th>Complain ID</th>
            <th>Tag Name</th>
        </tr>
    {% for t in complainTag %}
        <tr>
            <td>{{ t.complain }}</td>
            <td>{{ t.tag }}</td>
        </tr>

    {% endfor %}
    </table>


    {% endblock content %}

