{% extends 'base.html' %}
{% block content %}
    <div class="about-section" style=" padding: 30px; text-align: center; background-color: #70c3cb; color: white;margin-bottom: 2%">
      <h1>Profile</h1>
    </div>


    <div class="card text-center"style="margin:6% 0% 5% 0%">
  <div class="card-header">
      <h4>Profile of {{ profile.user }}</h4>
  </div>
  <div class="card-body" style="background-color: #e9ffe9">
    <h5 class="card-title">Username: {{ profile.user }}</h5>
    <h5 class="card-title">Type: {{ profile.type }}</h5>
    <h5 class="card-title">Status: {{ profile.status }}</h5>
  </div>
  <div class="card-footer text-muted">
   Click2Complain
  </div>
</div>

    {% if complain != "" %}

        <div class="alert alert-dark" role="alert" style="text-align: center; background-color: #70c3cb" style="margin-bottom: 2%">
             Complain History
        </div>
       {% for c in complain %}
            <div class="card mb-3" style="border: 6px solid #100367">
            {% if c.image.url != null %}
                <img src="{{ c.image.url }}" class="card-img-top" alt="complain-img"  height="400px">
            {% else %}
                <p class="card-text"></p>
            {% endif%}

            <div class="card-body">
            <h5 class="card-title" style="color: darkred">{{ c.user }}</h5>
            <p class="card-text" style="color:#555;"> {{ c.description }}</p>
            <p class="card-text"><small class="text-muted">{{ c.type }}</small></p>
            <p class="card-text"><small ><span style="color: green">UpVote:</span> {{ c.num_vote_up }}</small></p>
            <p class="card-text"><small ><span style="color: red">DownVote:</span>  {{ c.num_vote_down }}</small></p>
             <div>
                <a href="/allComplain/{{c.id}}"><button type="button" class="btn btn-outline-info">Details</button></a>
             </div>
            </div>

            </div>

       {% endfor %}

    {% endif%}

{% endblock content %}