{% extends 'base.html' %}
{% block content %}

{#     <h3>User Name: {{ profile.user }}</h3>#}
{#     <h3>User Type: {{ profile.type }}</h3>#}
{#     <h3>User Status:  {{ profile.status }}</h3>#}
{#    <br><br>  style="width:50%;  margin: 25% 30%;#}

    <div class="card text-center"style="margin:10% 0% 5% 0%">
  <div class="card-header">
   Profile of {{ profile.user }}
  </div>
  <div class="card-body" style="background-color: #e9ffe9">
    <h5 class="card-title">Username: {{ profile.user }}</h5>
    <h5 class="card-title">Type: {{ profile.type }}</h5>
    <h5 class="card-title">Status: {{ profile.status }}</h5>
  </div>
  <div class="card-footer text-muted">
   Click2Complain
  </div>
</div>

    <div class="alert alert-dark" role="alert" style="text-align: center" style="margin-bottom: 2%">
    Complain History
</div>


    {% if complain != "" %}
       {% for c in complain %}
            <div class="card mb-3">
            {% if c.image.url != null %}
                <img src="{{ c.image.url }}" class="card-img-top" alt="complain-img"  height="400px">
            {% else %}
                <p class="card-text"></p>
            {% endif%}

            <div class="card-body">
            <h5 class="card-title" style="color: darkred">{{ c.user }}</h5>
            <p class="card-text" style="color:#555;"> {{ c.description }}</p>
            <p class="card-text"><small class="text-muted">{{ c.type }}</small></p>
            <p class="card-text"><small ><span style="color: green">UpVote:</span> {{ c.num_vote_up }}</small></p>
            <p class="card-text"><small ><span style="color: red">DownVote:</span>  {{ c.num_vote_down }}</small></p>
             <div>
                <a href="/allComplain/{{c.id}}"><button type="button" class="btn btn-outline-info">Details</button></a>
             </div>
            </div>

            </div>

       {% endfor %}


    {% endif%}

{% endblock content %}